.jumbotron {
	/* background-image: url("/resources/images/herculaneum_banner.jpg"); */
	background-image:
		url("/Graffiti/resources/images/herculaneum_banner.jpg");
	padding-top: 44px;
	padding-bottom: 30px;
	margin-bottom: 10px;
	text-shadow: black 0.1em 0.1em 0.2em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

@media only screen and (max-width: 450px) {
	.jumbotron .container h1 {
		font-size: 30px;
	}
	.jumbotron .container p {
		font-size: 16px;
		padding: 0;
		margin: 0;
	}
	.jumbotron .container {
		padding: 0;
		margin: 0;
	}
	.jumbotron {
		padding: 40px 10px 10px 10px;
	}
}

.jumbotron h1, .jumbotron .h1 {
	font-size: 48px;
}

.jumbotron p {
	font-weight: normal;
}

.navbar {
	margin-bottom: 0px;
	color: white;
}

.navbar-brand {
	color: maroon;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, navbar-inverse .navbar-nav>.active>a,
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
	background-color: maroon;
}

.navbar-nav li ul, .navbar-nav li ul a {
	background-color: #333;
	color: white;
}

#map img {
	height: 400px;
	width: auto;
}

img.thumbnail {
	width: 200px;
}

#results {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#results h4 {
	border-top-style: solid;
	border-top-color: gold;
}

#results ul {
	padding-bottom: 15px;
}

.pic {
	float: left;
}

.info {
	margin-left: 250px;
	position: absolute;
}

th, td {
	padding: 2px;
}

.propertyLabel {
	font-weight: bold;
	color: maroon;
}

#pompeiiCityMap {
	width: 200px;
	position: absolute;
	margin-left: 715px;
	margin-top: 155px;
	border: 3px solid #800000;
}

#pompeiiCityMap img {
	width: 190px;
	height: auto;
}

#herculaneumCityMap img {
	width: 290px;
	height: auto;
}

#pompCityMap img {
	width: 240px;
	height: auto;
}

#pompCityMap {
	width: 250px;
	position: absolute;
	margin-left: 100px;
	border: 3px solid #800000;
}

#hercCityMap img {
	width: 240px;
	height: auto;
}

#hercCityMap {
	width: 250px;
	position: absolute;
	margin-left: 100px;
	border: 3px solid #800000;
}

#cityMap img {
	width: 290px;
	height: auto;
}

#cityMap {
	width: 300px;
	position: absolute;
	margin-left: 500px;
	border: 3px solid #800000;
}

footer {
	bottom: 0;
	width: 100%;
	height: 50px;
	font-size: smaller;
	font-style: italic;
}

select {
	max-width: 100px;
}

textarea {
	resize: none;
}

a {
	color: #0033CC;
}

/* Needed for the gallery of images on the results pages. */
input[name*="image"] {
	display: none;
}

.buttons {
	max-width: 100%;
	margin: 0 auto;
}

img {
	display: block;
	margin: 0px;
	padding: 0px;
}

[id^="imgSrc"] {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

input[name*="image"]:checked+label {
	border-color: #666;
	opacity: 1;
}

label {
	opacity: 0.7;
	height: auto;
}

.error {
	color: #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

h3 {
	color: maroon;
}

/*********** CREATE THE DEFAULTS FOR BUTTONS ****************/
.btn-agp {
	background-image: none;
	text-shadow: 0 1px 0 #222;
	color: #ffffff;
	background-color: #900000;
	border-color: #CE8177;
}

.btn-agp:hover, .btn-agp:focus, .btn-agp:active, .btn-agp.active, .open .dropdown-toggle.btn-agp
	{
	color: #ffffff;
	background-color: #740103;
	border-color: #ccc;
}

.btn-agp:active, .btn-agp.active, .open .dropdown-toggle.btn-agp {
	background-image: none;
}

.btn-agp.disabled, .btn-agp[disabled], fieldset[disabled] .btn-agp,
	.btn-agp.disabled:hover, .btn-agp[disabled]:hover, fieldset[disabled] .btn-agp:hover,
	.btn-agp.disabled:focus, .btn-agp[disabled]:focus, fieldset[disabled] .btn-agp:focus,
	.btn-agp.disabled:active, .btn-agp[disabled]:active, fieldset[disabled] .btn-agp:active,
	.btn-agp.disabled.active, .btn-agp[disabled].active, fieldset[disabled] .btn-agp.active
	{
	background-color: #900000;
	border-color: #CE8177;
}

.btn-agp .badge {
	color: #900000;
	background-color: #ffffff;
}