@media only screen and (max-width: 1023px) {
	[class*="col"] {
		width: 100%;
	}
}

.folio-item {
	display: block;
	float: left;
	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 0;
}

.isotope-item {
	z-index: 2;
}

body {
	height: 100%;
	background-color: #f2f2f2;
}

.portfolio-grid {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 75%;
}

.portfolio-grid li {
	display: inline-block;
	margin: 25px 25px 25px 25px;
	vertical-align: top;
	width: 175px;
}

.portfolio-grid li>a, .portfolio-grid li>a img {
	width: 100%;
	border: none;
	outline: none;
	display: block;
	position: relative;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.portfolio-grid li>a img:hover {
	border-radius: 50%;
	z-index: 500;
}

a.darken {
	display: inline-block;
	background: black;
	padding: 0;
}

a.darken span {
	display: none;
	position: absolute;
	top: 65px;
	left: 0px;
	padding: 10px;
	float: left;
	color: white;
}

a.darken img {
	display: block;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a.darken:hover img {
	opacity: 0.25;
}

/******************************************
 Animate.CSS By Dan Eden
******************************************/
.animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

@
-webkit-keyframes flipInX { 
	0% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		opacity: 0;
		}
	40% {
		-webkit-transform: perspective(400px) rotateX(-10deg);
		}
	70% {
		-webkit-transform: perspective(400px) rotateX(10deg);
		}
	100% {
		-webkit-transform: perspective(400px) rotateX(0deg);
		opacity: 1;
		}
}

@
-moz-keyframes flipInX {
	0% {
		-moz-transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}
	40% {
		-moz-transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		-moz-transform: perspective(400px) rotateX(10deg);
	}
	100% {
		-moz-transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}
}

@
-o-keyframes flipInX {
	0% {
		-o-transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}
	40% {
		-o-transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		-o-transform: perspective(400px) rotateX(10deg);
	}
	100% {
		-o-transform: perspective(400px) rotateX(0deg);
		opacity: 1;
	}
}

@
keyframes flipInX { 
	0% {
		transform: perspective(400px) rotateX(90deg);
		opacity: 0;
	}
	40% {
		transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		transform: perspective(400px) rotateX(10deg);
	}
	100% {
		transform: perspective(400px) rotateX(0deg);
		opacity:1;
	}
}

.flipInX {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInX;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInX;
	backface-visibility: visible !important;
	animation-name: flipInX;
}

.message {
	text-align: center;
	font-size: 14pt;
	color: lightgrey;
}
