<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true">
		<intercept-url pattern="/welcome*" access="ROLE_USER" />
		<intercept-url pattern="/updateTest*" access="ROLE_USER" />
		<intercept-url pattern="/updateTestComplete*" access="ROLE_USER" />
		<intercept-url pattern="/inputData*" access="ROLE_USER" />
		<intercept-url pattern="/inputDataComplete*" access="ROLE_USER" />
		<intercept-url pattern="/approve*" access="ROLE_USER" />
		<intercept-url pattern="/approveComplete*" access="ROLE_USER" />
		<intercept-url pattern="/insertData*" access="ROLE_USER" />
		<intercept-url pattern="/insertDataComplete*" access="ROLE_USER" />
		<form-login login-page="/login" default-target-url="/welcome"
			authentication-failure-url="/loginfailed" />
		<logout logout-success-url="/logout" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"

				users-by-username-query="
		      select username,password,enabled 
		      from users where username=?"

				authorities-by-username-query="
		      select u.username, r.role from users u, roles r
		      where r.id=1 and u.username =?" />


		</authentication-provider>
	</authentication-manager>

	<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
			<property name="driverClassName" value="org.postgresql.Driver" />
			<property name="url"
				value="jdbc:postgresql://hopper.cs.wlu.edu/graffiti2" />
			<property name="username" value="web" />
			<property name="password" value="" />
		</bean>

		<!-- Register the Customer.properties -->
		<bean id="messageSource"
			class="org.springframework.context.support.ResourceBundleMessageSource">
			<property name="basename" value="classpath:/WEB-INF/Customer.properties" />
		</bean>
	</beans>

</beans:beans>
